includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpat/phpat/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - packages
        - resources/views
        - routes
        - tests
    level: 6
    phpat:
        ignore_built_in_classes: true
        show_rule_names: true
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        -
            identifier: property.notFound
            path: tests/*
        -
            identifier: method.notFound
            path: tests/*

services:
    -
        class: Tests\Architecture\LayerDependencyTest
        tags:
            - phpat.test
