includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - packages
        - resources/views
        - routes
        - tests
    level: 6
    ignoreErrors:
        - identifier: missingType.generics
